<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous" type="text/css">
    <!--link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css"-->
    <link rel="stylesheet" href="../static/styles.css">
    <title>MarStories - search mars images</title>
</head>
<body>
    <h1>MarStories</h1>
    <h4>Search images of NASA's Curiosity, Opportunity, and Spirit rovers on Mars.</h4>
    <p>Select the rover name and query by earth date or by Sol (Maritian day).</p>
    <div id="search">
        <form class="row">
            <div class="col-auto">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="Curiosity">Curiosity</option>
                    <option value="Spirit">Spirit</option>
                    <option value="Opportunity">Opportunity</option>
                </select>            
            </div>
            <!-- <div class="col-auto">
                <label for="sol" class="visually-hidden">Earth date</label>
                <input type="date" id="date" class="form-control" name="date" placeholder="Date" tabindex="0" autofocus> 
            </div> -->
            <div class="col-auto">
                <label for="date" class="visually-hidden">Sol (Martian day):</label>
                <input type="number" id="sol" class="form-control" name="sol" placeholder="Sol number">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn">Search</button>
            </div>
        </form>
    </div>

    <div class="results">
        {set i = 0}
        {% for img in images_data %}
        {if i }
        <a href="{{img['img_src']}}" target="_blank" class="card">
            <img src="{{img['img_src']}}" class="card-img-top" alt="mars images by {{img['rover']['name']}}">
            <div class="card-body">
              <p class="card-title">Rover: {{img['rover']['name']}}</p>
              <p class="card-text">Sol: {{img['sol']}}</p>
              <p class="card-text">Earth date: {{img['earth_date']}}</p>
              <p class="card-text">Camera: {{img['camera']['full_name']}}</p>
            </div>
          </a>
          {set i = i + 1}
        {% endfor %}
    </div>
    
</body>
</html>